<%- include("header.ejs")%>
<style>
      .image{
            position: relative;
            left: 30vw;
            
      }
      .space img{
            border-radius: 10%;
            
            height: 85vh;
            
      }
      .space h1{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50vh;
            left: 10vh;
      }
</style>
<div class="space">
      
      <div class="image">
            <h1>Here Is Your Cart</h1>
            <img  src="https://friendlystock.com/wp-content/uploads/2018/05/4-dog-mascot-holding-empty-sign-cartoon-clipart-600x900.jpg">
      </div>
      
</div>
<%- include("footer.ejs")%>