<%- include("header.ejs")%>
<style>
      .space{
            margin-top: 10px;
      }
      .dating img{
            width: 100%;
            height: 46vh;
            
      }
      .date h1{
            background: rgb(42,18,22);
background: radial-gradient(circle, rgba(42,18,22,1) 47%, rgba(0,0,0,1) 96%);
display: flex;
justify-content: center;
font-family: Georgia, 'Times New Roman', Times, serif;
           
      }
      .anniversary .date img{
            width: 97.75vw;
            height: 45vh;
      }
      .occasions .date img{
            width: 90vw;
            height: 10vh;
      }
      .wedding  .date img{
            width: 97.75vw;
            height: 45vh;
      }
      .birthday img{
            width: 100%;
            height: 40vh;
      }
      .h12{
            display: flex;
            justify-content: center;
            font-family: Georgia, 'Times New Roman', Times, serif;
      }
      
</style>
<div class="space">
      <div class="h12">
            <h1>Here Are The Categories</h1>
      </div>
      
      
        <span>
            <div class="dating">
                  <div class="date">
                        <h1 style="color: rgb(255, 255, 255); ">Dating</h1>
                        <img src="https://img.freepik.com/premium-photo/silhouette-couple-lover-relationship-twilight-landscape_505353-628.jpg">
                  </div>
                  
                  
            </div>
        </span>
        <span>
            <div class="birthday">
                  <div class="date">
                        <h1 style="color: rgb(255, 255, 255); background-color: rgb(255, 255, 255);">Birthday</h1>
                        <img src="https://previews.123rf.com/images/zeinousstudio/zeinousstudio2107/zeinousstudio210700072/171886408-happy-birthday-vector-background-design-happy-birthday-to-you-greeting-text-with-gold-elegant-gifts.jpg">
                  </div>
            </div>
        </span>
        <span>
            <div class="anniversary">
                  <div class="date">
                        <h1 style="color: rgb(255, 255, 255); background-color: rgb(255, 255, 255);">Anniversary</h1>
                        <img src="https://wallpapers.com/images/hd/anniversary-background-zvvx8jc34hwy8npt.jpg">
                  </div>
            </div>
        </span>
        <span>
            <div class="wedding">
                  <div class="date">
                        <h1 style="color: rgb(255, 255, 255); background-color: rgb(255, 255, 255);">Wedding</h1>
                        <img src="https://images.pexels.com/photos/1444442/pexels-photo-1444442.jpeg?cs=srgb&dl=pexels-viresh-studio-1444442.jpg&fm=jpg">
                  </div>
            </div>
        </span>
        <span>
            <div class="ocassions">
                  <div class="date">
                        <h1 style="color: rgb(255, 255, 255); background-color: rgb(255, 255, 255);">For Babies</h1>
                        <img height="275" width="1337" src="https://img.myloview.com/stickers/flat-lay-composition-with-baby-clothes-and-accessories-on-wooden-background-space-for-text-700-262914032.jpg">
                  </div>
            </div>
        </span>
        <span>
            <div class="couples">
                  <div class="date">
                        <h1 style="color: rgb(255, 255, 255); background-color: rgb(255, 255, 255);">Couples</h1>
                        <img height="400" width="1337" src="https://img.freepik.com/premium-photo/couple-two-seniors-mature-people-together-sunset-with-their-bikes-giving-five-with-silhouette-sea-background_516988-1643.jpg">
                  </div>
            </d

</div>
<%- include("footer.ejs")%>